<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lunch Check</title>
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
    </head>

<body ng-app="LunchCheckApp">
    <h1>Check the Comma Seperated Dishes</h1>
    <div ng-controller="LunchController">
       <input type="text" ng-model="dishes">
       <br><br>
       <button ng-click="checkDishes();">Check If Too Much</button>
       <br>
       <br>

       {{message}}

    </div>
</body>    
</html>